{% include 'public_header.html' %}
    
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header" style="height: 600px">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5" style="border-color: rgba(256, 256, 256, .3) !important;"> </h5>
                     <form method="post" id="login" action="#" enctype="multipart/form-data" >
              <table class="table" style="width: 400px;color: white;background:opacity: 0.5;">
                 <h2 style="color: white">Login</h2>
                <tr width="500">
      <table class="table" style="width: 500px;color: white" class="animate__animated animate__fadeInUp">
        <tr>
          <th>Username</th>
          <td><input type="text" name="uname" class="form-control" required></td>
        </tr>
        <tr>
          <th>Password</th>
          <td><input type="password" name="pwd" class="form-control" required></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><input type="submit" name="submit" value="LOGIN" class="btn btn-danger"></td>
        </tr>
      </table>
    </center>
         </form>
                    <div class="pt-2">
                       
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
   
                      
             

{% include'footer.html' %}