{% include 'public_header.html' %}
<center>
<br><br>
                    <form method="post" enctype="multipart/form-data" >
              <h2>USER REGISTRATION</h2>
      <table class="table" style="width: 600px;color: black">
        <tr>
          <th>First Name</th>
          <td><input type="text" name="fn" pattern="[a-zA-Z\s]{0,30}" title="Enter Alphabets Only" class="form-control" required=""></td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td><input type="text" name="ln" pattern="[a-zA-Z\s]{0,30}" title="Enter Alphabets Only" class="form-control" required=""></td>
        </tr>
        <tr>
          <th>Place</th>
          <td><input type="text" name="pl"  required pattern="[a-zA-Z\s]{0,30}" title="Enter Alphabets Only" class="form-control"></td>
        </tr>
        <tr>
          <th>Phone</th>
          <td><input type="text" name="ph" minlength="10" maxlength="10" pattern="[0-9]{10}" required="" class="form-control"></td>
        </tr>
        <tr>
          <th>Email</th>
          <td>
          <input type="email" name="em" required="" class="form-control">
        </td>
        </tr>
        <tr>
          <th>Username</th>
          <td>
          <input type="text" name="uname" required="" class="form-control">
        </td>
        </tr>
        <tr>
          <th>Password</th>
          <td>
          <input type="password" name="psw" required="" class="form-control">
        </td>
        </tr>
        <tr>
          <td colspan="2" align="center"><input type="submit" name="manage" value="REGISTER" class="btn btn-info"></td>
        </tr>
      </table>
    </form>
            		
</center>
{% include 'footer.html' %}